// Khai báo kích thước tương ứng với màn hình thiết bị

$XS: 480px;
$SM: 576px;
$MD: 768px;
$LG: 960px;
$XL: 1200px;

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (max-width: $LG) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}

@mixin gradientBg($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}